body{
	background-image: linear-gradient(180deg, rgba(8, 182, 232, 0.4), white);
	background-repeat: no-repeat;
}

header{
  height: 20%;
}
.add-btn{
	color: white !important;
}

.contain-room {
	max-width: 100%;
}


.trigger {
  padding: 1px 10px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #eee;
  color: #212121;
  display: inline-block;
  margin: 2px 5px;
}

.hoverable, .trigger {
  transition: box-shadow 0.55s;
  box-shadow: 0;
}

.hoverable:hover, .trigger:hover {
  transition: box-shadow 0.45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nameroom{
	width: 40%;
}

.btn-up, .btn-down{
  width: 5% !important;

}
.choice-device{
  background-color: #08E3FF;
  color: white;
}

.Device thead tr th{
  font-size: 20px;
}